#left_list {
    width: 12vw;
    position: sticky;
    text-align: center;
    top: 20vh;
    left: 5vw;
}

.navbar-brand {
    float: left;
}

.title_container {
    width: 30vw;
    border-bottom: 0.5vh solid;
    border-image: linear-gradient(to right,rgba(0, 202, 252, 0.8), rgba(37, 117, 238, 0.925)) 1;
    font-size: 6vh;
    font-weight: 600;
    margin-bottom: 4vh;
}

.form-group {
    width: 40vw;
    margin: 1vh 1vw 2vh 0;
}

#buttons {
    margin: 2vh 2vw 5vh 0;
    width: 6vw;
}

#avatar_showcase {
    width: 150px;
    height: 150px;
}

#main_container {
    position: relative;
    bottom: 8vw;
    width: 70%;
    left: 10vw;
}

#menu {
    display: flex;
    flex-flow: column wrap;
    list-style-type: none;
    height: 80vh;
    width: 70%;
    padding: 0;
}

#menu > li {
    margin: 3vh 5vw 1vh 0;
}

li > p {
    margin: 0;
}

#dish_details {
    word-wrap: normal;
    width: 30vh;
    font-size: small;
}

.nav-item {
    caret-color: transparent;
}